<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list users</title>
</head>
<body>
<a href="/logout">logout</a>
<form action="/adduser">
    <input type="text" name="user">
    <input type="pwd" name="pwd">
    <input type="submit" value="add">
</form>
<hr>
<table border="1" width="300px">
    <tr>
        <th>user</th>
        <th>pwd</th>
        <th>action</th>
    </tr>
    {% for user in user_list %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td><a href="/del?user={{ user[0] }}">delete</a>
        <a href="/update?user={{ user[0] }}">update</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>